*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 90px;
    /* background-color: blue; */
    display: flex;
    padding: 25px 25px;
    justify-content: space-between;

}
.logo {
    width: 10%;
    height: 40px;
    /* background-color: gray; */
}
.logo h1{
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}
.link{
    width: 50%;
    height: 40px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}
.link select{
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: black;
    align-items: center;
}
.link a{
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    color: black;
}
.link div{
    margin-top: 10px;
    font-size: 20px;
}
/* NAV SECTION */
.discount{
    width: 100%;
    height: 70px;
    background-color: rgb(76, 31, 89);
    display: flex;
    justify-content: center;
}
.discount p{
    font-size: 20px;
    font-weight: 50;
    margin-top: 20px;
    color: white;
}
/* FIRST SECTION */
.main{
    width: 100%;
    height: 800px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(mainframe.jpg);
    background-position: center;
    background-size: cover;

}
.main h1{
    font-size: 90px;
    font-weight: 500;
    margin-top: 10%;
    color: whitesmoke;
}
.main p{
    font-size: larger;
    font-weight: bold;
    margin-top: 5px;
    color: whitesmoke;
}
.main button{
    width: 120px;
    height: 60px;
    margin-top: 20px;
    font-size: large;
    font-weight: 10px;
}
/* SECOND SECTION */
.product{
    width: 100%;
    height: 680px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.product h1{
    font-size: 50px;
    font-weight: 30;
}
.product .product-cart{
    width: 97%;
    height: 550px;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.product .product-cart div{
    width: 23.5%;
    height: 550px;
    /* background-color: bisque; */
}
/* CART1 */
.product-cart .cart1 .candy{
    width: 100%;
    height: 400px;
    /* background-color: aqua; */
    background-image: url(candyflowerpot.jpg);
    background-size: cover;
    background-position: center;
}
.cart1 .candy h1{
    width: 75px;
    background-color: blueviolet;
    font-size: 30px;
}
.product-cart .cart1 h1{
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
}
.product-cart .cart1 p{
    margin-top: 10px;
    font-size:20px;
    text-align: center;
}
/* CART2 */
.product-cart .cart2 .drop{
    width: 100%;
    height: 400px;
    /* background-color: aqua; */
    background-image: url(dropvase.jpg);
    background-size: cover;
    background-position: center;
}
.cart2 .drop h1{
    width: 75px;
    background-color: blueviolet;
    font-size: 30px;
}
.product-cart .cart2 h1{
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
}
.product-cart .cart2 p{
    margin-top: 10px;
    font-size:20px;
    text-align: center;
}
/* CART3 */
.product-cart .cart3 .wave{
    width: 100%;
    height: 400px;
    /* background-color: aqua; */
    background-image: url(dropvase.jpg);
    background-size: cover;
    background-position: center;
}

.product-cart .cart3 h1{
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
}
.product-cart .cart3 p{
    margin-top: 10px;
    font-size:20px;
    text-align: center;
}
/* CART4 */
.product-cart .cart4 .sun{
    width: 100%;
    height: 400px;
    /* background-color: aqua; */
    background-image: url(sunvase.jpg);
    background-size: cover;
    background-position: center;
}

.product-cart .cart4 h1{
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
}
.product-cart .cart4 p{
    margin-top: 10px;
    font-size:20px;
    text-align: center;
}
/* THIRD SECTION */
.home{
    width: 100%;
    height: 800px;
    background-color: bisque;
    background-image: url(homedecor.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.home h1{
    font-size: 95px;
    color: whitesmoke;
    font-weight: 20;
}
.home p{
    font-size: 25px;
    color: whitesmoke;
    margin-top: 10px;
}
.home button{
    width: 120px;
    height: 80px;
    font-size: 20px;
    margin-top: 10px;
}
/* FOURTH SECTION */
/* ABOUT SECTION */
.info-section{
    width: 100%;
    height: 950px;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
}
.info-section .info-cart1{
    width: 49%;
    height: 800px;
    /* background-color: pink; */
    /* display: flex; */
    justify-content: space-between;
    flex-direction: column;
    
}
.info-section .info-cart2{
    width: 49%;
    height: 800px;
    /* background-color: pink; */
    /* display: flex; */
    justify-content: space-between;
    
}
.info-cart1 .info1{
    width: 100%;
    height: 500px;
    /* background-color: aqua; */
    background-image: url(about.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 120px;
}
.info-section .info-cart1 h1{
    font-size: 50px;
    font-weight: 50;
}
.info-section .info-cart1 p{
    margin-top: 15px;
    font-size: 25px;
    font-weight: lighter;
}
.info-section .info-cart1 button{
    width: 100px;
    height: 55px;
    background-color:  rgb(76, 31, 89);
    border-radius: 9px;
    color: white;
    font-size: 15px;
    margin-top: 30px;
}
/* SUSTAINABILITY SECTION */
.info-cart2 .info2{
    width: 100%;
    height: 500px;
    /* background-color: aqua; */
    background-image: url(sustainability.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 120px;
}

.info-section .info-cart2 h1{
    font-size: 50px;
    font-weight: 50;
}
.info-section .info-cart2 p{
    margin-top: 10px;
    font-size: 25px;
    font-weight: lighter;
}
.info-section .info-cart2 button{
    width: 100px;
    height: 55px;
    background-color:  rgb(76, 31, 89);
    border-radius: 9px;
    color: white;
    font-size: 15px;
    margin-top: 15px;
}
/* FIFTH SECTION */
.signup{
    width: 100%;
    height: 900px;
    background-color: blue;
    display: flex;
    /* align-items: center; */
    background-image: url(signup.jpg);
    background-position: center;
    display: flex;
    background-size: cover;
    flex-direction: column;
}
.signup h1{
    font-size: 120px;
    font-weight: 100;
    margin-left: 15%;
    margin-top: 15%;
    color: whitesmoke;
}
.signup p{
    font-size: 30px;
    margin-left: 35%;
    margin-top: 30px;
    color: whitesmoke;
}
.signup input{
    width: 500px;
    height: 80px;
    margin-left: 35%;
    font-size: 20px;
    padding-left: 20px;
}
.signup button{
    width: 150px;
    height: 80px;
    margin-left: 45%;
    margin-top: 40px;
    font-size: 30px;
    font-weight: lighter;
    color: lightgrey;
}
/* SIXTH SECTION */
.socials{
    width: 100%;
    height: 110vh;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socials h1{
    font-size: 50px;
    padding-top: 90px;
}
.media{
    width: 100%;
    height: 720px;
    /* background-color: cadetblue; */
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    
}
.media .socials1{
    width: 32.5%;
    height: 650px;
    /* background-color: beige; */
    background-image: url(watering.jpg);
    background-size: cover;
    background-position: center;
}
.media .socials2{
    width: 32.5%;
    height: 650px;
    /* background-color: beige; */
    background-image: url(shy.jpg);
    background-size: cover;
    background-position: center;
}
.media .socials3{
    width: 32.5%;
    height: 650px;
    /* background-color: beige; */
    background-image: url(coffee.jpg);
    background-size: cover;
    background-position: center;
}
.socials button{
    width: 150px;
    height: 90px;
    background-color: rgb(76, 31, 89);
    font-size: 20px;
    color: whitesmoke;
    font-weight: 10;
    border-radius: 7px;
    margin-bottom: 30px; 
}
/* FOOOTER */
.footer{
    width: 100%;
    height: 400px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerdiv{
    width: 99%;
    height: 400px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.footerdiv .minfoot .svg{
    width: 170px;
    height: 100px;
    /* background-color: azure; */
    padding-top: 15%;
    /* justify-content: space-evenly; */
}
.footerdiv .link{
    width: 10%;
    height: 140px;
    /* background-color: beige; */
    flex-direction: column;
    text-decoration: underline;
    font-size: 50px;
}